<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="container my-4">
        <form method="post" action="/forgot">
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input type="password" id="form2Example2" class="form-control" name="password" />
            </div>

            <!-- Submit button -->
            <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>